body {
  background-color: #f8f9fa;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin-top: 30px;
}

.site-name h3 {
  color: #572e80;
  font-weight: 700;
}

.header {
  text-align: center;
}

.element-card {
  width: 220px;
  height: 220px;
  border-radius: 12px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: linear-gradient(135deg, #667eea, #764ba2);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
  animation: pop-in 1.7s ease-out;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.animation_pop-in {
  animation: pop-in 1.7s ease-out;
}

.atomic-number {
  font-weight: 600;
  font-size: 1.2rem;
}

.symbol {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

.mass {
  font-size: 1rem;
}

/* Details card */
.info-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.info-card dt {
  font-weight: 600;
}

.info-card dd {
  margin-bottom: 0.75rem;
  font-weight: 500;
}

.info-card dl dt {
  color: #764ba2
}

footer {
  margin-top: auto;

}

.disclaimer-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  font-size: 0.9rem;
  padding: 0.75rem 1rem;
}

.text-muted {
  font-size: 0.8rem;
}

.text-muted a:hover {
  color: #764ba2;
  /* or any highlight color */
}




/*Keyframes*/
@keyframes pop-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  80% {
    transform: scale(1.05);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}